<main>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">The My Blog</h1>
          <p class="lead">
            Writing a blog post is a little like driving; 
            you can study the highway code (or read articles telling you 
            how to write a blog post) for months, but nothing can prepare 
            you for the real thing like getting behind the wheel and 
            hitting the open road. 
          </p>
        </div>
      </div>


  <div class="chart bar-chart">
    <div class="chart-plot">
      <div class="bar bar-1"></div>
      <div class="bar bar-2"></div>
      <div class="bar bar-3"></div>
      <div class="bar bar-4"></div>
      <div class="bar bar-5"></div>
      <div class="bar bar-6"></div>
      <div class="bar bar-7"></div>
      <div class="bar bar-8"></div>
    </div>
    <div class="axis-x"></div>
  </div>
</main>
  
  
  
  