<mat-nav-list>
  <a *ngIf="!isAuth" mat-list-item routerLink="/" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a *ngIf="!isAuth" mat-list-item routerLink="/signup" (click)="onSidenavClose()">
      <mat-icon>person_add</mat-icon> <span class="nav-caption">Register</span>   
  </a>
  <a *ngIf="!isAuth" mat-list-item routerLink="/login" (click)="onSidenavClose()">
      <mat-icon>exit_to_app</mat-icon><span class="nav-caption">Login</span>
  </a>
  <a *ngIf="isAuth" mat-list-item routerLink="/posts/all" (click)="onSidenavClose()">
    <mat-icon>insert_emoticon</mat-icon><span id="profile" class="nav-caption">Hello, {{username}}!</span>
  </a>
  <a *ngIf="isAuth" mat-list-item routerLink="/posts/all" (click)="onSidenavClose()">
    <mat-icon>favorite_border</mat-icon><span class="nav-caption">Blog</span>
  </a>
  <a *ngIf="isAuth" mat-list-item routerLink="/posts/create" (click)="onSidenavClose()">
    <mat-icon>create</mat-icon><span class="nav-caption">Create</span>
  </a>
  <a *ngIf="isAuth" (click)="logout()" mat-list-item (click)="onSidenavClose()">
    <mat-icon class="exit">exit_to_app</mat-icon><span class="nav-caption">Logout</span>
  </a>
</mat-nav-list>
