<div class="example-container py-5">
    <form [formGroup]="postGreateForm" (ngSubmit)="postCreate()">
      <mat-form-field>
        <input formControlName="title" type="text" matInput placeholder="Enter title">
        <mat-error *ngIf="postGreateForm.get('title').hasError('required')">This field is required!</mat-error>
        <mat-error *ngIf="postGreateForm.get('title').hasError('minlength')">Title must be at least 3 symbols!</mat-error>
        <mat-error *ngIf="postGreateForm.get('title').hasError('maxlength')">Title should not be more 23 symbols!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="author" type="text" matInput placeholder="Enter author">
        <mat-error *ngIf="postGreateForm.get('author').hasError('required')">This field is required!</mat-error>
        <mat-error *ngIf="postGreateForm.get('author').hasError('minlength')">Name author must be at least 3 symbols!</mat-error>
        <mat-error *ngIf="postGreateForm.get('author').hasError('maxlength')">Name author should not be more 23 symbols!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="image" type="text" matInput placeholder="Enter image url">
        <mat-error *ngIf="postGreateForm.get('image').hasError('required')">This field is required!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea formControlName="content" matInput placeholder="Enter content"></textarea>
        <mat-error *ngIf="postGreateForm.get('content').hasError('required')">This field is required!</mat-error>
        <mat-error *ngIf="postGreateForm.get('content').hasError('minlength')">Content must be at least 200 symbols!</mat-error>
        <mat-error *ngIf="postGreateForm.get('content').hasError('maxlength')">Content should not be more 5000 symbols!</mat-error>
      </mat-form-field>
      <button [disabled]="postGreateForm.invalid" class="mt-5" mat-flat-button color="accent" type="submit">Create</button>
    </form>
  </div>