<div class="example-container py-5 mb-5 mt-5">
    <mat-form-field>
      <input matInput placeholder="Enter title"  required>
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Enter author"  required>
        <mat-error></mat-error>
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Enter image url"  required>
          <mat-error></mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Enter content"></textarea>
            <mat-error></mat-error>
          </mat-form-field>
  </div>