<div class="example-container py-5  mb-5">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field>
        <input formControlName="username" type="text" matInput placeholder="Enter your username">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="loginForm.get('username').hasError('required')">This field is required!</mat-error>
        <mat-error *ngIf="loginForm.get('username').hasError('minlength')">Username must be at least 4 symbols!</mat-error>
      </mat-form-field>
      <mat-form-field>
          <input formControlName="password" type="password" matInput placeholder="Enter your password">
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="loginForm.get('password').hasError('required')">This field is required!</mat-error>
          <mat-error *ngIf="loginForm.get('password').hasError('minlength')">Password must be at least 6 symbols!</mat-error>
        </mat-form-field>
      <button [disabled]="loginForm.invalid" class="mt-5" mat-flat-button color="accent" type="submit">Login</button>
    </form>
  </div>